.category-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.5rem;

  .category-button {
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.95rem;

    &:hover {
      scale: 1.01;
    }
  }
}